# Data Cleaning and initial Feature Engineering

In [81]:
import pandas as pd
pd.options.mode.chained_assignment = None

In [2]:
airbnb_nyc = pd.read_csv('/Users/valentinarizzati/Desktop/GitStuff/Projects/Classification-Airbnb/data/nyc_listings.csv')

In [3]:
airbnb_nyc.head()

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2595,https://www.airbnb.com/rooms/2595,20210407173759,2021-04-09,Skylit Midtown Castle,"Beautiful, spacious skylit studio in the heart...",Centrally located in the heart of Manhattan ju...,https://a0.muscache.com/pictures/f0813a11-40b2...,2845,https://www.airbnb.com/users/show/2845,...,10.0,10.0,9.0,NaN,f,3,3,0,0,0.35
1,3831,https://www.airbnb.com/rooms/3831,20210407173759,2021-04-12,"Whole flr w/private bdrm, bath & kitchen(pls r...","Enjoy 500 s.f. top floor in 1899 brownstone, w...",Just the right mix of urban center and local n...,https://a0.muscache.com/pictures/e49999c2-9fd5...,4869,https://www.airbnb.com/users/show/4869,...,10.0,10.0,10.0,NaN,f,1,1,0,0,4.98
2,5121,https://www.airbnb.com/rooms/5121,20210407173759,2021-04-09,BlissArtsSpace!,<b>The space</b><br />HELLO EVERYONE AND THANK...,NaN,https://a0.muscache.com/pictures/2090980c-b68e...,7356,https://www.airbnb.com/users/show/7356,...,10.0,9.0,9.0,NaN,f,1,0,1,0,0.35
3,5136,https://www.airbnb.com/rooms/5136,20210407173759,2021-04-10,"Spacious Brooklyn Duplex, Patio + Garden",We welcome you to stay in our lovely 2 br dupl...,NaN,https://a0.muscache.com/pictures/a3f7ace8-e7a9...,7378,https://www.airbnb.com/users/show/7378,...,10.0,8.0,10.0,NaN,f,1,1,0,0,0.01
4,5178,https://www.airbnb.com/rooms/5178,20210407173759,2021-04-12,Large Furnished Room Near B'way,Please don’t expect the luxury here just a bas...,"Theater district, many restaurants around here.",https://a0.muscache.com/pictures/12065/f070997...,8967,https://www.airbnb.com/users/show/8967,...,9.0,10.0,9.0,NaN,f,1,0,1,0,3.26

In [4]:
airbnb_nyc.shape

(36905, 74)

In [8]:
airbnb_nyc.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'description',
       'neighborhood_overview', 'picture_url', 'host_id', 'host_url',
       'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [9]:
# Drop columns that are not to be included in the analysis
airbnb_nyc = airbnb_nyc.drop(['scrape_id','last_scraped','picture_url','host_id','host_url','host_name',
                            'host_thumbnail_url','host_picture_url','host_neighbourhood', 'host_listings_count',
                            'host_total_listings_count','neighbourhood','bathrooms','maximum_nights', 'minimum_minimum_nights',
                            'maximum_minimum_nights', 'minimum_maximum_nights','maximum_maximum_nights', 'minimum_nights_avg_ntm',
                            'maximum_nights_avg_ntm', 'calendar_updated','calendar_last_scraped','number_of_reviews_ltm', 
                            'number_of_reviews_l30d', 'first_review','last_review','license'], axis = 1)

In [10]:
airbnb_nyc.columns

Index(['id', 'listing_url', 'name', 'description', 'neighborhood_overview',
       'host_since', 'host_location', 'host_about', 'host_response_time',
       'host_response_rate', 'host_acceptance_rate', 'host_is_superhost',
       'host_verifications', 'host_has_profile_pic', 'host_identity_verified',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'has_availability', 'availability_30',
       'availability_60', 'availability_90', 'availability_365',
       'number_of_reviews', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

Every column will be cleaned individually because different cleaning methodologies will be applied to different columns.

## Id

In [12]:
# Check that there are no duplicates of airbnb id
pd.Series(airbnb_nyc['id']).is_unique

True

In [15]:
airbnb_nyc['id'].value_counts()

32493112    1
31177794    1
14918404    1
45789923    1
20679396    1
           ..
38411561    1
30955204    1
43267372    1
44103415    1
11667455    1
Name: id, Length: 36905, dtype: int64

In [16]:
# Check there is no null value in the column 'id'
airbnb_nyc['id'].isnull().values.any()

False

## Listing url

In [17]:
# Check that there are no duplicates of listing url
pd.Series(airbnb_nyc['listing_url']).is_unique

True

In [18]:
# Check there is no null value in the column 'listing_url'
airbnb_nyc['listing_url'].isnull().values.any()

False

## Name

In [20]:
# Check there is no null value in the column 'name'
airbnb_nyc['name'].isnull().values.any()

True

In [22]:
# Create a mask for null value in 'name'
null_name = airbnb_nyc[airbnb_nyc['name'].isnull()]
null_name

,id,listing_url,name,description,neighborhood_overview,host_since,host_location,host_about,host_response_time,host_response_rate,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
1774,1615764,https://www.airbnb.com/rooms/1615764,NaN,<b>Guest access</b><br />Entire space (some st...,It is the financial district but it doesn't fe...,2013-05-31,"New York, New York, United States","Friendly, efficient and considerate.",NaN,NaN,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
2279,2232600,https://www.airbnb.com/rooms/2232600,NaN,NaN,NaN,2014-01-17,"New York, New York, United States",NaN,NaN,NaN,...,10.0,10.0,10.0,10.0,f,1,1,0,0,0.33
3606,4209595,https://www.airbnb.com/rooms/4209595,NaN,NaN,NaN,2014-08-29,"New York, New York, United States",Hello! We are a kindergarten teacher and a fin...,NaN,NaN,...,10.0,10.0,10.0,10.0,f,1,1,0,0,0.01
3725,4370230,https://www.airbnb.com/rooms/4370230,NaN,Beautiful 1BR apartment in the heart of Nolita...,NaN,2014-10-18,"Paris, Île-de-France, France",NaN,NaN,NaN,...,10.0,10.0,10.0,10.0,f,1,1,0,0,0.06
3913,4581788,https://www.airbnb.com/rooms/4581788,NaN,NaN,NaN,2014-09-21,"New York, New York, United States",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
4103,4756856,https://www.airbnb.com/rooms/4756856,NaN,"Sunny bedroom in Castlebraid, Bushwick! I shar...",NaN,2012-02-29,"New York, New York, United States",My name is Carolina. I´m a peruvian artist bas...,NaN,NaN,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
4126,4774658,https://www.airbnb.com/rooms/4774658,NaN,Room available (sublet) Jan.<br />Price very n...,NaN,2014-12-08,"New York, New York, United States",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
5533,6782407,https://www.airbnb.com/rooms/6782407,NaN,A cute and cozy private room in East Williamsb...,There is a laundromat and a deli around the co...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
7505,9325951,https://www.airbnb.com/rooms/9325951,NaN,"Ideally located in Midtown Manhattan, this lar...",NaN,2015-05-14,US,NaN,NaN,NaN,...,10.0,10.0,10.0,10.0,f,1,1,0,0,0.02
8028,9787590,https://www.airbnb.com/rooms/9787590,NaN,Cozy and charming apartment available in the h...,NaN,2015-12-03,"New York, New York, United States",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,f,5,1,4,0,NaN
8406,10052289,https://www.airbnb.com/rooms/10052289,NaN,Room in an apartment in Brooklyn with a bed fu...,"I like the neighhood, they are nice and gentle",2015-11-20,"Brooklyn, New York, United States",NaN,NaN,NaN,...,10.0,10.0,7.0,9.0,f,1,0,1,0,0.05
9972,12797684,https://www.airbnb.com/rooms/12797684,NaN,"Sunny Bedroom, 2 minutes from central park and...",NaN,2016-04-30,"Houston, Texas, United States",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,f,2,0,2,0,NaN
10124,12988898,https://www.airbnb.com/rooms/12988898,NaN,El apartamento. Es confortable. La sala Cosina...,NaN,2016-05-11,"New York, New York, United States",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,f,1,0,0,1,NaN

In [23]:
# Redefine our df as including only rows with a non NA 'name'
airbnb_nyc = airbnb_nyc[airbnb_nyc['name'].notna()]

In [24]:
airbnb_nyc.shape

(36892, 47)

In [25]:
# Check there is no null value in the column 'name'
airbnb_nyc['name'].isnull().values.any()

False

In [30]:
# Create new column counting the characters included in the name (hyp: length of name might impact user's decision-making about a listing)
airbnb_nyc['name_len']= airbnb_nyc['name'].str.len()

In [31]:
airbnb_nyc['name_len'].value_counts()

50     3327
49     2528
35     2156
48     1941
47     1726
       ...
82        1
81        1
74        1
76        1
131       1
Name: name_len, Length: 87, dtype: int64

In [35]:
# Check there is no null value in the column 'name_len'
airbnb_nyc['name_len'].isnull().values.any()

False

## Description

In [26]:
# Check there is no null value in the column 'description'
airbnb_nyc['description'].isnull().values.any()

True

In [27]:
# Create a mask for null value in 'description'
null_desc = airbnb_nyc[airbnb_nyc['description'].isnull()]
null_desc

,id,listing_url,name,description,neighborhood_overview,host_since,host_location,host_about,host_response_time,host_response_rate,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
1747,1550558,https://www.airbnb.com/rooms/1550558,Williamsburg Gem!,NaN,NaN,2013-04-22,"New York, New York, United States",artist and chef that loves learning about the ...,within a few hours,100%,...,10.0,10.0,10.0,10.0,f,1,1,0,0,0.65
2281,2237708,https://www.airbnb.com/rooms/2237708,Spacious 1bdrm furnished wifi tv,NaN,NaN,2013-12-23,"New York, New York, United States",I am only renting when I am out of town,NaN,NaN,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
2466,2478933,https://www.airbnb.com/rooms/2478933,Ambient stylish bedroom with private bathroom,NaN,NaN,2012-02-16,"New York, New York, United States",NaN,within a day,75%,...,NaN,NaN,NaN,NaN,t,3,1,2,0,NaN
2533,2592533,https://www.airbnb.com/rooms/2592533,"Private room in the heart of Williamsburg- L, G",NaN,NaN,2014-03-18,"Brooklyn, New York, United States",NaN,within a day,50%,...,10.0,10.0,10.0,10.0,f,1,0,1,0,0.09
2981,3368427,https://www.airbnb.com/rooms/3368427,Happy big family,NaN,NaN,2012-11-02,"Oslo, Oslo, Norway",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36868,49063413,https://www.airbnb.com/rooms/49063413,Very cute bushwick apartment,NaN,NaN,2019-08-07,"Queens, New York, United States",NaN,within an hour,100%,...,NaN,NaN,NaN,NaN,t,1,0,1,0,NaN
36869,49065181,https://www.airbnb.com/rooms/49065181,New location/ Bushwick BK / Big Room w TV in Bsmt,NaN,NaN,2016-07-02,"New York, New York, United States","Hablo español, 我說廣東話, I'm learning English.\nI...",within an hour,96%,...,NaN,NaN,NaN,NaN,f,3,0,3,0,NaN
36871,49069387,https://www.airbnb.com/rooms/49069387,"BIG QUITE 1 BR CAN BE USE AS 2 BR.30 MIN TO NYC ,",NaN,NaN,2014-06-16,"Bronx, New York, United States",I'm working hard in the hospitality and Reale...,within an hour,100%,...,NaN,NaN,NaN,NaN,f,12,11,1,0,NaN
36873,49070478,https://www.airbnb.com/rooms/49070478,NEWLY 4 BEDROOM APARTMENT IN BEDSTUY,NaN,NaN,2020-11-17,"New York, New York, United States",NaN,within a few hours,87%,...,NaN,NaN,NaN,NaN,f,28,11,17,0,NaN
36887,49078228,https://www.airbnb.com/rooms/49078228,Cozy 3 bedroom Apartment in Manhattan,NaN,NaN,2020-08-19,"Ningbo, Zhejiang, China",Hi I’m from New York City and love to travel a...,NaN,NaN,...,NaN,NaN,NaN,NaN,t,1,1,0,0,NaN

In [28]:
# Create new column counting the characters included in the description (hyp: length of description might impact user's decision-making about a listing)
airbnb_nyc['desc_len']= airbnb_nyc['description'].str.len()

In [29]:
airbnb_nyc['desc_len'].value_counts()

1000.0    14883
250.0       128
500.0       108
499.0        98
249.0        93
          ...
5.0           2
4.0           2
8.0           2
16.0          1
6.0           1
Name: desc_len, Length: 1000, dtype: int64

In [32]:
# Check there is no null value in the column 'desc_len'
airbnb_nyc['desc_len'].isnull().values.any()

True

In [33]:
# Create a mask for null value in 'desc_len'
null_desc_len = airbnb_nyc[airbnb_nyc['desc_len'].isnull()]
null_desc_len

,id,listing_url,name,description,neighborhood_overview,host_since,host_location,host_about,host_response_time,host_response_rate,...,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,desc_len,name_len
1747,1550558,https://www.airbnb.com/rooms/1550558,Williamsburg Gem!,NaN,NaN,2013-04-22,"New York, New York, United States",artist and chef that loves learning about the ...,within a few hours,100%,...,10.0,10.0,f,1,1,0,0,0.65,NaN,17
2281,2237708,https://www.airbnb.com/rooms/2237708,Spacious 1bdrm furnished wifi tv,NaN,NaN,2013-12-23,"New York, New York, United States",I am only renting when I am out of town,NaN,NaN,...,NaN,NaN,f,1,1,0,0,NaN,NaN,32
2466,2478933,https://www.airbnb.com/rooms/2478933,Ambient stylish bedroom with private bathroom,NaN,NaN,2012-02-16,"New York, New York, United States",NaN,within a day,75%,...,NaN,NaN,t,3,1,2,0,NaN,NaN,45
2533,2592533,https://www.airbnb.com/rooms/2592533,"Private room in the heart of Williamsburg- L, G",NaN,NaN,2014-03-18,"Brooklyn, New York, United States",NaN,within a day,50%,...,10.0,10.0,f,1,0,1,0,0.09,NaN,47
2981,3368427,https://www.airbnb.com/rooms/3368427,Happy big family,NaN,NaN,2012-11-02,"Oslo, Oslo, Norway",NaN,NaN,NaN,...,NaN,NaN,f,1,0,1,0,NaN,NaN,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36868,49063413,https://www.airbnb.com/rooms/49063413,Very cute bushwick apartment,NaN,NaN,2019-08-07,"Queens, New York, United States",NaN,within an hour,100%,...,NaN,NaN,t,1,0,1,0,NaN,NaN,28
36869,49065181,https://www.airbnb.com/rooms/49065181,New location/ Bushwick BK / Big Room w TV in Bsmt,NaN,NaN,2016-07-02,"New York, New York, United States","Hablo español, 我說廣東話, I'm learning English.\nI...",within an hour,96%,...,NaN,NaN,f,3,0,3,0,NaN,NaN,49
36871,49069387,https://www.airbnb.com/rooms/49069387,"BIG QUITE 1 BR CAN BE USE AS 2 BR.30 MIN TO NYC ,",NaN,NaN,2014-06-16,"Bronx, New York, United States",I'm working hard in the hospitality and Reale...,within an hour,100%,...,NaN,NaN,f,12,11,1,0,NaN,NaN,49
36873,49070478,https://www.airbnb.com/rooms/49070478,NEWLY 4 BEDROOM APARTMENT IN BEDSTUY,NaN,NaN,2020-11-17,"New York, New York, United States",NaN,within a few hours,87%,...,NaN,NaN,f,28,11,17,0,NaN,NaN,36
36887,49078228,https://www.airbnb.com/rooms/49078228,Cozy 3 bedroom Apartment in Manhattan,NaN,NaN,2020-08-19,"Ningbo, Zhejiang, China",Hi I’m from New York City and love to travel a...,NaN,NaN,...,NaN,NaN,t,1,1,0,0,NaN,NaN,37

In [34]:
# Replace NaN with 0 because those are listings with no description
airbnb_nyc['desc_len'] = airbnb_nyc['desc_len'].fillna(0)

In [37]:
airbnb_nyc[['description','desc_len']]

                                             description  desc_len
0      Beautiful, spacious skylit studio in the heart...    1000.0
1      Enjoy 500 s.f. top floor in 1899 brownstone, w...    1000.0
2      <b>The space</b><br />HELLO EVERYONE AND THANK...    1000.0
3      We welcome you to stay in our lovely 2 br dupl...    1000.0
4      Please don’t expect the luxury here just a bas...    1000.0
...                                                  ...       ...
36900  SharedEasy is the only community-oriented Coli...    1000.0
36901  2 bedroom apartment in Upper East Side.<br /><...    1000.0
36902  Beautifully recently renovated and furnished J...     444.0
36903  1 bedroom apartment in Hell's Kitchen.<br />Mo...    1000.0
36904  You’ll be right in the heart of everything at ...     607.0

[36892 rows x 2 columns]

In [39]:
# Double check the length count formula worked correctly
airbnb_nyc['description'].head(1).str.len()

0    1000
Name: description, dtype: int64

## Neighbourhood Overview

In [41]:
# Check there is no null value in the column 'neighbourhood_overview'
airbnb_nyc['neighborhood_overview'].isnull().values.any()

True

In [43]:
# Check how many values are null
airbnb_nyc['neighborhood_overview'].isnull().value_counts()

False    23084
True     13808
Name: neighborhood_overview, dtype: int64

In [44]:
# Create new column counting the characters included in the neighborhood_overview (hyp: length of description might impact user's decision-making about a listing)
airbnb_nyc['neighborhood_len']= airbnb_nyc['neighborhood_overview'].str.len()

In [45]:
# Replace NaN with 0 because those are listings with no neighborhood_overview
airbnb_nyc['neighborhood_len'] = airbnb_nyc['neighborhood_len'].fillna(0)

In [46]:
# Check there is no null value in the column 'neighbourhood_len'
airbnb_nyc['neighborhood_len'].isnull().values.any()

False

## Host Since

In [47]:
# Check there is no null value in the column 'host_since'
airbnb_nyc['host_since'].isnull().values.any()

True

In [57]:
# Check how many values are null
airbnb_nyc['host_since'].isnull().value_counts()

False    35625
True      1267
Name: host_since, dtype: int64

In [71]:
# Redefine our df as including only rows with a non NA 'host_since'
airbnb_nyc = airbnb_nyc[airbnb_nyc['host_since'].notna()]

In [72]:
airbnb_nyc.shape

(35625, 50)

In [73]:
# Check how many values are null
airbnb_nyc['host_since'].isnull().sum()

0

## Host Location

In [74]:
# Check how many values are null
airbnb_nyc['host_location'].isnull().sum()

88

In [113]:
airbnb_nyc.shape

(35625, 52)

In [114]:
# Drop NA
airbnb_nyc = airbnb_nyc[airbnb_nyc['host_location'].notna()]

In [115]:
airbnb_nyc.shape

(35537, 52)

In [116]:
airbnb_nyc['host_location'].value_counts()

New York, New York, United States            22091
US                                            4066
Brooklyn, New York, United States             2798
Queens, New York, United States               1411
Los Angeles, California, United States         256
                                             ...
Springfield, Massachusetts, United States        1
Nancy, Lorraine, France                          1
Reykjavík, Iceland                               1
Napanoch, New York, United States                1
North Potomac, Maryland, United States           1
Name: host_location, Length: 1393, dtype: int64

In [118]:
# Define function to strip the host's country from host_location

def get_host_country(location):
    list_loc = location.split(',')
    host_country = list_loc[-1].strip()
    return host_country

In [119]:
# Apply function to the df
airbnb_nyc['host_country'] = airbnb_nyc['host_location'].apply(get_host_country)

In [132]:
airbnb_nyc['host_country'].value_counts()

United States               29730
US                           4068
France                        158
United Kingdom                120
JP                             99
                            ...
househacking.co                 1
CR                              1
AL                              1
Singapore/ New York City        1
Bulgaria                        1
Name: host_country, Length: 194, dtype: int64

In [129]:
# Define function to strip the host's state from host_location

def get_host_state(location):
    list_loc = location.split(',')
    if len(list_loc) >= 2:
        host_state = list_loc[1].strip()
    else:
        host_state = list_loc[0].strip()
    return host_state

In [130]:
# Apply function to the df
airbnb_nyc['host_state'] = airbnb_nyc['host_location'].apply(get_host_state)

In [131]:
airbnb_nyc['host_state'].value_counts()

New York                  27174
US                         4068
California                  712
New Jersey                  322
Florida                     224
                          ...
Makedonia Thraki              1
NYC                           1
Norway                        1
hong kong                     1
Saint Catherine Parish        1
Name: host_state, Length: 420, dtype: int64

## Host About

In [76]:
# Check how many values are null
airbnb_nyc['host_about'].isnull().sum()

14385

In [77]:
# Create new column counting the characters included in the description (hyp: length of host description might impact user's decision-making about a listing)
airbnb_nyc['host_about_len'] = airbnb_nyc['host_about'].str.len()

<ipython-input-77-0087aa57b7c1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airbnb_nyc['host_about_len']= airbnb_nyc['host_about'].str.len()

In [82]:
airbnb_nyc['host_about_len'].value_counts()

1649.0    266
807.0     242
810.0     203
45.0      166
3776.0    166
         ...
1712.0      1
946.0       1
646.0       1
1368.0      1
1174.0      1
Name: host_about_len, Length: 1216, dtype: int64

In [83]:
# Check how many values are null
airbnb_nyc['host_about_len'].isnull().sum()

14385

In [84]:
# Replace NaN with 0 because those are listings with no description for the host
airbnb_nyc['host_about_len'] = airbnb_nyc['host_about_len'].fillna(0)

In [85]:
# Check how many values are null
airbnb_nyc['host_about_len'].isnull().sum()

0

## Host Response Time

In [98]:
# Check how many values are null
airbnb_nyc['host_response_time'].isnull().sum()

16963

Due to the large amount of null variables, I will disregard this feature as part of the analysis.

## Host Response Rate

In [89]:
# Check how many values are null
airbnb_nyc['host_response_rate'].isnull().sum()

16963

Due to the large amount of null variables, I will disregard this feature as part of the analysis.

## Host Acceptance Rate

In [87]:
# Check how many values are null
airbnb_nyc['host_acceptance_rate'].isnull().sum()

15440

Due to the large amount of null variables, I will disregard this feature as part of the analysis.

## Superhost

In [90]:
# Check how many values are null
airbnb_nyc['host_is_superhost'].isnull().sum()

0

In [95]:
airbnb_nyc['host_is_superhost'].value_counts()

f    29289
t     6336
Name: host_is_superhost, dtype: int64

In [96]:
# Substitute true with 1 and false with 0
airbnb_nyc['host_is_superhost'].replace({'f': 0, 't': 1}, inplace=True)

In [97]:
airbnb_nyc['host_is_superhost'].value_counts()

0    29289
1     6336
Name: host_is_superhost, dtype: int64

## Host verifications

In [133]:
# Check how many values are null
airbnb_nyc['host_verifications'].isnull().sum()

0

In [145]:
airbnb_nyc['host_verifications'].value_counts()

['email', 'phone', 'reviews', 'kba']                                                                                                              2871
['email', 'phone']                                                                                                                                2700
['email', 'phone', 'reviews', 'jumio', 'government_id']                                                                                           2578
['email', 'phone', 'offline_government_id', 'selfie', 'government_id', 'identity_manual']                                                         2331
['email', 'phone', 'reviews']                                                                                                                     1597
                                                                                                                                                  ...
['email', 'phone', 'reviews', 'weibo', 'jumio', 'offline_government_id', 'selfie', 'government_id', 'identity_manual']                               1
['google', 'kba']                                                                                                                                    1
['phone', 'manual_online', 'reviews', 'manual_offline', 'jumio', 'offline_government_id', 'kba', 'selfie', 'government_id', 'identity_manual']       1
['kba']                                                                                                                                              1
['email', 'phone', 'facebook', 'reviews', 'sesame', 'sesame_offline']                                                                                1
Name: host_verifications, Length: 525, dtype: int64

In [149]:
# Check all None have been eliminated
verif_none = airbnb_nyc[airbnb_nyc['host_verifications'] == None]

In [150]:
verif_none

Empty DataFrame
Columns: [id, listing_url, name, description, neighborhood_overview, host_since, host_location, host_about, host_response_time, host_response_rate, host_acceptance_rate, host_is_superhost, host_verifications, host_has_profile_pic, host_identity_verified, neighbourhood_cleansed, neighbourhood_group_cleansed, latitude, longitude, property_type, room_type, accommodates, bathrooms_text, bedrooms, beds, amenities, price, minimum_nights, has_availability, availability_30, availability_60, availability_90, availability_365, number_of_reviews, review_scores_rating, review_scores_accuracy, review_scores_cleanliness, review_scores_checkin, review_scores_communication, review_scores_location, review_scores_value, instant_bookable, calculated_host_listings_count, calculated_host_listings_count_entire_homes, calculated_host_listings_count_private_rooms, calculated_host_listings_count_shared_rooms, reviews_per_month, desc_len, name_len, neighborhood_len, host_about_len, host_country, host_state]
Index: []

[0 rows x 53 columns]

In [174]:
# Define function to extract the count of host verifications

def get_verif_count(verifications):
    verif_list = verifications.strip('][').split(', ')
    verif_count = len(verif_list)
    return verif_count

In [175]:
# Apply function to the df
airbnb_nyc['host_verif_count'] = airbnb_nyc['host_verifications'].apply(get_verif_count)

In [176]:
airbnb_nyc['host_verif_count'].value_counts()

6     7280
5     6768
4     5569
7     4748
2     3021
8     2782
3     2710
9     1539
1      734
10     327
11      50
12       8
13       1
Name: host_verif_count, dtype: int64

In [179]:
# Check that host_verif_count and host_verifications have been mapped correctly
airbnb_nyc.loc[:,['host_verifications','host_verif_count']]

                                      host_verifications  host_verif_count
0      ['email', 'phone', 'reviews', 'offline_governm...                 9
1      ['email', 'phone', 'reviews', 'offline_governm...                 6
2      ['email', 'phone', 'facebook', 'reviews', 'off...                 8
3                          ['email', 'phone', 'reviews']                 3
4              ['email', 'phone', 'facebook', 'reviews']                 4
...                                                  ...               ...
36900  ['email', 'phone', 'offline_government_id', 'g...                 4
36901  ['email', 'phone', 'jumio', 'offline_governmen...                 7
36902              ['email', 'phone', 'identity_manual']                 3
36903  ['email', 'phone', 'jumio', 'offline_governmen...                 7
36904  ['email', 'phone', 'reviews', 'offline_governm...                 6

[35537 rows x 2 columns]

## Host profile pic

In [180]:
airbnb_nyc['host_has_profile_pic'].value_counts()

t    35435
f      102
Name: host_has_profile_pic, dtype: int64

In [181]:
# Substitute true with 1 and false with 0
airbnb_nyc['host_has_profile_pic'].replace({'f': 0, 't': 1}, inplace=True)

In [182]:
airbnb_nyc['host_has_profile_pic'].value_counts()

1    35435
0      102
Name: host_has_profile_pic, dtype: int64

## Host identity verified

In [183]:
airbnb_nyc['host_identity_verified'].value_counts()

t    28692
f     6845
Name: host_identity_verified, dtype: int64

In [184]:
# Substitute true with 1 and false with 0
airbnb_nyc['host_identity_verified'].replace({'f': 0, 't': 1}, inplace=True)

In [186]:
airbnb_nyc['host_identity_verified'].value_counts()

1    28692
0     6845
Name: host_identity_verified, dtype: int64

## Neighbourhood & Neighbourhood Group

In [189]:
airbnb_nyc['neighbourhood_cleansed'].value_counts()

Bedford-Stuyvesant    2626
Williamsburg          2588
Harlem                1860
Bushwick              1625
Hell's Kitchen        1428
                      ...
Graniteville             1
Country Club             1
Gerritsen Beach          1
Fort Wadsworth           1
Westerleigh              1
Name: neighbourhood_cleansed, Length: 220, dtype: int64

In [190]:
# Check for missing values
airbnb_nyc['neighbourhood_cleansed'].isnull().values.any()

False

In [191]:
airbnb_nyc['neighbourhood_group_cleansed'].value_counts()

Manhattan        15674
Brooklyn         13938
Queens            4663
Bronx              973
Staten Island      289
Name: neighbourhood_group_cleansed, dtype: int64

In [192]:
# Rename columns
airbnb_nyc = airbnb_nyc.rename(columns={'neighbourhood_cleansed': 'neighbourhood', 'neighbourhood_group_cleansed': 'borough'})

## Room Type

In [196]:
airbnb_nyc['room_type'].unique()

array(['Entire home/apt', 'Private room', 'Hotel room', 'Shared room'],
      dtype=object)

In [197]:
airbnb_nyc['room_type'].value_counts()

Entire home/apt    18586
Private room       16027
Shared room          650
Hotel room           274
Name: room_type, dtype: int64

## Accomodates

In [199]:
airbnb_nyc['accommodates'].value_counts()

2     16127
1      6089
4      5329
3      3638
6      1648
5      1419
8       481
7       305
10      162
16       94
12       90
9        53
11       28
13       25
0        18
14       17
15       14
Name: accommodates, dtype: int64

In [201]:
airbnb_nyc['accommodates'].unique()

array([ 2,  3,  4,  1,  5,  6,  8, 13, 16,  7, 12,  9, 10, 11, 14, 15,  0])

In [202]:
airbnb_nyc[airbnb_nyc['accommodates']==0]

,id,listing_url,name,description,neighborhood_overview,host_since,host_location,host_about,host_response_time,host_response_rate,...,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,desc_len,name_len,neighborhood_len,host_about_len,host_country,host_state,host_verif_count
29527,42830099,https://www.airbnb.com/rooms/42830099,Hotel Hugo,NaN,NaN,2019-10-07,"New York, New York, United States","Located in West SoHo, otherwise known as Hudso...",within an hour,100%,...,0,0,NaN,0.0,10,0.0,687.0,United States,New York,2
29729,43035720,https://www.airbnb.com/rooms/43035720,Executive Hotel LeSoleil New York,NaN,NaN,2019-12-17,CA,NaN,NaN,NaN,...,0,0,NaN,0.0,33,0.0,0.0,CA,CA,1
29788,43078550,https://www.airbnb.com/rooms/43078550,The Lex Hotel NYC,NaN,NaN,2020-02-07,US,NaN,NaN,NaN,...,0,0,NaN,0.0,17,0.0,0.0,US,US,1
29789,43078552,https://www.airbnb.com/rooms/43078552,SIXTY LES,NaN,NaN,2020-03-19,US,NaN,within an hour,100%,...,0,0,NaN,0.0,9,0.0,0.0,US,US,2
29950,43205598,https://www.airbnb.com/rooms/43205598,Wellington Hotel,NaN,NaN,2020-02-11,"New York, New York, United States",NaN,within an hour,100%,...,0,0,NaN,0.0,16,0.0,0.0,United States,New York,2
30006,43247472,https://www.airbnb.com/rooms/43247472,Hotel 57,NaN,NaN,2020-01-06,"New York, New York, United States",DAZZLING BOUTIQUE ACCOMMODATIONS IN MIDTOWN MA...,within an hour,88%,...,0,0,NaN,0.0,8,0.0,845.0,United States,New York,1
31337,44567521,https://www.airbnb.com/rooms/44567521,"The Standard, East Village",NaN,NaN,2020-08-05,US,NaN,within an hour,100%,...,0,0,NaN,0.0,26,0.0,0.0,US,US,2
31555,45063489,https://www.airbnb.com/rooms/45063489,5th and 55th Residence Club,NaN,NaN,2020-08-21,"New York, New York, United States",Timeless luxury abounds at 5th & 55th Residenc...,NaN,NaN,...,0,0,NaN,0.0,27,0.0,135.0,United States,New York,2
32133,45494997,https://www.airbnb.com/rooms/45494997,OYO Times Square,NaN,NaN,2019-10-23,"New York, New York, United States",We have created a modern place to spend the ni...,NaN,NaN,...,0,0,NaN,0.0,16,0.0,660.0,United States,New York,1
32551,45789481,https://www.airbnb.com/rooms/45789481,The Williamsburg Hotel,NaN,NaN,2020-10-08,US,NaN,within an hour,100%,...,0,0,NaN,0.0,22,0.0,0.0,US,US,2
32616,45841514,https://www.airbnb.com/rooms/45841514,Pestana Park Avenue,NaN,NaN,2020-10-12,PT,NaN,NaN,NaN,...,0,0,NaN,0.0,19,0.0,0.0,PT,PT,2
32793,45985185,https://www.airbnb.com/rooms/45985185,Hotel Scherman,NaN,NaN,2020-10-21,"Cliffside Park, New Jersey, United States",NaN,within an hour,100%,...,0,0,NaN,0.0,14,0.0,0.0,United States,New Jersey,2
32894,46059074,https://www.airbnb.com/rooms/46059074,CITIZENM NEW YORK TIMES SQUARE HOTEL,NaN,NaN,2020-10-26,"New York, New York, United States",NaN,within an hour,100%,...,0,0,NaN,0.0,36,0.0,0.0,United States,New York,1
33138,46251446,https://www.airbnb.com/rooms/46251446,citizenM New York Bowery,NaN,NaN,2020-11-05,"New York, New York, United States",NaN,within an hour,100%,...,0,0,NaN,0.0,24,0.0,0.0,United States,New York,1
33236,46336133,https://www.airbnb.com/rooms/46336133,Equinox Hotel New York,NaN,NaN,2020-11-09,US,NaN,NaN,NaN,...,0,0,NaN,0.0,22,0.0,0.0,US,US,2
33744,46723973,https://www.airbnb.com/rooms/46723973,Ink 48 Hotel,NaN,NaN,2020-11-24,US,NaN,NaN,NaN,...,0,0,NaN,0.0,12,0.0,0.0,US,US,2
35360,48089897,https://www.airbnb.com/rooms/48089897,Condor Hotel,NaN,NaN,2019-05-10,US,NaN,within an hour,100%,...,0,0,NaN,0.0,12,0.0,0.0,US,US,2
35793,48325676,https://www.airbnb.com/rooms/48325676,Hotel Beacon,NaN,NaN,2021-02-25,US,NaN,within an hour,100%,...,0,0,NaN,0.0,12,0.0,0.0,US,US,2

All listings presenting 0 in *accommodates* are hotel rooms. For the purpose of our categorization (see below), the 0 values don't need to be eliminated.

In [207]:
airbnb_nyc['capacity'] = pd.qcut(airbnb_nyc['accommodates'].rank(method = 'first'),3,['low','medium','high'])

In [208]:
airbnb_nyc['capacity'].value_counts()

low       11846
high      11846
medium    11845
Name: capacity, dtype: int64

## Bathrooms

In [209]:
airbnb_nyc['bathrooms_text'].value_counts()

1 bath               18373
1 shared bath         9008
2 baths               2079
1 private bath        2052
1.5 baths             1014
2 shared baths         995
1.5 shared baths       716
2.5 baths              279
3 baths                211
0 shared baths         170
3 shared baths         110
2.5 shared baths        86
3.5 baths               66
4 baths                 52
4 shared baths          44
0 baths                 36
Half-bath               33
4.5 baths               19
Shared half-bath        18
Private half-bath       16
5 baths                 10
6 baths                  7
6 shared baths           7
5.5 baths                4
8 baths                  3
4.5 shared baths         3
6.5 shared baths         3
7.5 baths                3
3.5 shared baths         2
5 shared baths           2
7 baths                  2
7 shared baths           1
6.5 baths                1
15.5 baths               1
9.5 baths                1
5.5 shared baths         1
Name: bathrooms_text, dtype: int64

In [235]:
airbnb_nyc['bathrooms_text'].isnull().values.any()

True

In [236]:
airbnb_nyc['bathrooms_text'].isnull().sum()

109

After examining the urls, I've noticed that the missing values correspond to legitimate listings that have a bathroom. I will impute a value of 1 instead of the missing value under the assumption that:<br />
1. It is pretty unrealistic to list a room or apartment without a bathroom
2. In NYC it is [illegal](https://www.renthop.com/qa/nyc/what-makes-an-apartment-illegal) to rent an apartment with no bathroom

In [237]:
airbnb_nyc['bathrooms_text'].fillna(1, inplace = True)

In [238]:
airbnb_nyc['bathrooms_text'].isnull().values.any()

False

In [242]:
airbnb_nyc['bathrooms_text'].value_counts()

1 bath               18373
1 shared bath         9008
2 baths               2079
1 private bath        2052
1.5 baths             1014
2 shared baths         995
1.5 shared baths       716
2.5 baths              279
3 baths                211
0 shared baths         170
3 shared baths         110
1                      109
2.5 shared baths        86
3.5 baths               66
4 baths                 52
4 shared baths          44
0 baths                 36
Half-bath               33
4.5 baths               19
Shared half-bath        18
Private half-bath       16
5 baths                 10
6 shared baths           7
6 baths                  7
5.5 baths                4
6.5 shared baths         3
8 baths                  3
7.5 baths                3
4.5 shared baths         3
5 shared baths           2
7 baths                  2
3.5 shared baths         2
6.5 baths                1
9.5 baths                1
15.5 baths               1
7 shared baths           1
5.5 shared baths         1
Name: bathrooms_text, dtype: int64

In [243]:
# Define function to get bath type

def bath_type(bath_string):
    if type(bath_string) == int:
        bathroom_type = 1 # private bathroom because there is no mention of 'shared'
    else:
        list_bath_string = bath_string.split(' ')
        if 'shared' in list_bath_string or 'Shared' in list_bath_string:
            bathroom_type = 0 # shared bathroom
        else:
            bathroom_type = 1 # private bathroom
    return bathroom_type

In [244]:
bath_type('2.5 shared baths')

0

In [245]:
# Create new column
airbnb_nyc['bath_type'] = airbnb_nyc['bathrooms_text'].apply(bath_type)

In [246]:
airbnb_nyc['bath_type'].value_counts()

1    24371
0    11166
Name: bath_type, dtype: int64

In [247]:
# Define function to get number of bathrooms

def bath_count(bath_string):
    if type(bath_string) == int:
        bathroom_count = bath_string
    else:
        list_bath_list = bath_string.split(' ')
        if 'Half-bath' in list_bath_list or 'half-bath' in list_bath_list:
            bathroom_count = 0.5
        else:
            bathroom_count = list_bath_list[0]
    return bathroom_count

In [248]:
# Create new column
airbnb_nyc['bath_count'] = airbnb_nyc['bathrooms_text'].apply(bath_count)

In [249]:
airbnb_nyc['bath_count'].value_counts()

1       29433
2        3074
1.5      1730
2.5       365
3         321
0         206
1         109
4          96
3.5        68
0.5        67
4.5        22
6          14
5          12
5.5         5
6.5         4
7.5         3
8           3
7           3
9.5         1
15.5        1
Name: bath_count, dtype: int64

## Beds

In [253]:
airbnb_nyc['beds'].value_counts()

1.0     21739
2.0      7374
3.0      2636
0.0      1336
4.0      1113
5.0       379
6.0       191
7.0        83
8.0        53
9.0        27
12.0       15
10.0       11
11.0       10
13.0        3
15.0        3
16.0        2
18.0        1
42.0        1
24.0        1
21.0        1
Name: beds, dtype: int64

In [255]:
airbnb_nyc['beds'].isnull().values.any()

True

In [257]:
airbnb_nyc['beds'].isnull().sum()

558

In [258]:
# Inpute value of bedrooms into bed's missing values
airbnb_nyc['beds'].fillna(airbnb_nyc['bedrooms'], inplace=True)

In [259]:
airbnb_nyc['beds'].isnull().sum()

90

In [260]:
# Eliminate NAs in beds
airbnb_nyc = airbnb_nyc[airbnb_nyc['beds'].notna()]

In [261]:
airbnb_nyc['beds'].isnull().sum()

0

In [262]:
airbnb_nyc.shape

(35447, 57)

## Amenities

In [264]:
airbnb_nyc['amenities'].value_counts()

["Long term stays allowed"]                                                                                                                                                                                                                                                                                                                                                                                                                                                        135
["Refrigerator", "Shower gel", "Essentials", "Dryer", "Long term stays allowed", "Private entrance", "Dishes and silverware", "Elevator", "Kitchen", "TV", "Cooking basics", "Shampoo", "Stove", "BBQ grill", "Lockbox", "Hot water", "Gym", "Wifi", "Hair dryer", "Dishwasher", "Iron", "Extra pillows and blankets", "Coffee maker", "Carbon monoxide alarm", "Microwave", "Hangers", "Washer", "Smoke alarm", "Oven", "Bed linens"]                                              62
["Kitchen", "Carbon monoxide alarm", "Hangers", "Lock on bedroom door", "Smoke alarm", "Heating", "Wifi", "Long term stays allowed", "Dedicated workspace"]                                                                                                                                                                                                                                                                                                                         60
["Kitchen", "Security cameras on property", "TV", "Carbon monoxide alarm", "Hangers", "Washer", "Dryer", "Essentials", "Heating", "Smoke alarm", "Wifi", "Long term stays allowed", "Air conditioning", "Iron"]                                                                                                                                                                                                                                                                     48
["Shower gel", "Essentials", "Long term stays allowed", "Luggage dropoff allowed", "First aid kit", "Conditioner", "TV", "Heating", "Fire extinguisher", "Shampoo", "Body soap", "Hot water", "Wifi", "Hair dryer", "Dedicated workspace", "Iron", "Building staff", "Carbon monoxide alarm", "Hangers", "Smoke alarm", "Lock on bedroom door", "Bed linens", "Air conditioning"]                                                                                                   48
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  ...
["Shampoo", "Hot water", "Dryer", "Essentials", "Smoke alarm", "Hangers", "Dedicated workspace", "Elevator", "Long term stays allowed", "Washer", "Heating", "Carbon monoxide alarm", "Kitchen", "Air conditioning"]                                                                                                                                                                                                                                                                 1
["Kitchen", "Cable TV", "Security cameras on property", "TV", "Hot water", "Carbon monoxide alarm", "Hangers", "Washer", "Dryer", "Essentials", "Heating", "Smoke alarm", "Hair dryer", "Lock on bedroom door", "Wifi", "Long term stays allowed", "Air conditioning", "Iron", "First aid kit", "Elevator"]                                                                                                                                                                          1
["Refrigerator", "Essentials", "Long term stays allowed", "Baking sheet", "Dishes and silverware", "Kitchen", "Heating", "Paid parking off premises", "Free street parking", "Cooking basics", "Shampoo", "Stove", "Hot water", "Wifi", "Hair dryer", "Dedicated workspace", "Coffee maker", "Carbon monoxide alarm", "Microwave", "Hangers", "Smoke alarm", "Host greets you", "Oven"]                                                                                              1
["Kitchen", "Cable TV", "TV", "Carbon monoxide alarm", "Essentials", "Washer", "Dryer", "Smoke alarm", "Fire extinguisher", "Wifi", "Long term stays allowed", "Air conditioning", "First aid kit", "Elevator"]                                                                                                                                                                                                                                                                      1
["Refrigerator", "Essentials", "Dryer", "Long term stays allowed", "Clothing storage", "Dishes and silverware", "Elevator", "Kitchen", "Keypad", "TV", "Heating", "Fire extinguisher", "Free street parking", "Cooking basics", "Shampoo", "Hot water", "Gym", "Wifi", "Hair dryer", "Dedicated workspace", "Iron", "Coffee maker", "Carbon monoxide alarm", "Microwave", "Hangers", "Washer", "Smoke alarm", "Lock on bedroom door", "Oven", "Bed linens", "Air conditioning"]      1
Name: amenities, Length: 30209, dtype: int64

In [270]:
airbnb_nyc['amenities'].isnull().values.any()

False

In [266]:
# Define function to extract the count of amenities

def get_amenities_count(amenities):
    amenities_list = amenities.strip('][').split(', ')
    amenities_count = len(amenities_list)
    return amenities_count

In [267]:
# Apply function to the df
airbnb_nyc['amenities_count'] = airbnb_nyc['amenities'].apply(get_amenities_count)

In [268]:
airbnb_nyc['amenities_count'].value_counts()

15    1712
13    1675
14    1668
12    1615
16    1497
      ...
71       2
63       2
68       1
67       1
66       1
Name: amenities_count, Length: 69, dtype: int64

## Price

In [271]:
airbnb_nyc['price'].isnull().values.any()

False

## Minimum Nights

Any rental that lasts for 30 days or more is considered as a long-term rental in NYC. See [here](https://www.airbnb.com/help/article/2484/longterm-rentals-in-nyc).

In [274]:
airbnb_nyc['minimum_nights'].isnull().values.any()

False

In [275]:
airbnb_nyc['minimum_nights'].value_counts()

30      22014
1        3627
2        2808
3        2167
5         885
        ...
69          1
1124        1
117         1
68          1
53          1
Name: minimum_nights, Length: 115, dtype: int64

In [276]:
# Define a function to recategorize the min nights column

def get_stay_length(min_stay):
    if min_stay >= 30:
        long_term_stay = 1
    else:
        long_term_stay = 0
    return long_term_stay

In [278]:
# Apply function to the df
airbnb_nyc['long_term_rental'] = airbnb_nyc['minimum_nights'].apply(get_stay_length)

In [279]:
airbnb_nyc['long_term_rental'].value_counts()

1    23298
0    12149
Name: long_term_rental, dtype: int64

## Avail 30 days

In [283]:
airbnb_nyc['availability_30'].isnull().values.any()

False

In [284]:
airbnb_nyc['availability_30'].value_counts()

0     19217
30     4151
29     2031
1      1040
28      951
8       670
9       660
27      561
23      518
2       403
10      354
7       324
5       319
24      319
6       308
4       303
3       285
22      272
25      247
21      235
14      231
20      229
15      227
11      226
26      219
16      217
13      206
19      197
18      186
12      174
17      167
Name: availability_30, dtype: int64

## Avail 60 days

In [285]:
airbnb_nyc['availability_60'].isnull().values.any()

False

## Avail 90 days

In [286]:
airbnb_nyc['availability_90'].isnull().values.any()

False

## Avail 365 days

In [287]:
airbnb_nyc['availability_365'].isnull().values.any()

False

This is the target for the classification task at hand. Based on the *availability_365* column, I will create a new column indicating if a listing is a Top Listing or not.

In [371]:
# Establish function to identify Top Listing

median_avail = airbnb_nyc['availability_365'].median()

def get_top_listing(availability):
    if availability <= median_avail:
        top_l = 1
    else:
        top_l = 0
    return top_l

In [290]:
# Apply function to the df
airbnb_nyc['top_listing'] = airbnb_nyc['availability_365'].apply(get_top_listing)

In [292]:
airbnb_nyc['top_listing'].value_counts()

1    17737
0    17710
Name: top_listing, dtype: int64

## Number of Reviews

In [296]:
airbnb_nyc['number_of_reviews'].isnull().values.any()

False

In [299]:
airbnb_nyc['number_of_reviews'].describe()

count    35447.000000
mean        22.785341
std         48.100702
min          0.000000
25%          0.000000
50%          4.000000
75%         20.000000
max        755.000000
Name: number_of_reviews, dtype: float64

## Review Score Ratings

In [311]:
review_scores = ['review_scores_rating','review_scores_accuracy','review_scores_cleanliness',
                'review_scores_checkin','review_scores_communication','review_scores_location',
                'reviews_per_month']

for i in review_scores:
    print(i,"Nulls: ",airbnb_nyc[i].isnull().sum())

review_scores_rating Nulls:  9929
review_scores_accuracy Nulls:  9953
review_scores_cleanliness Nulls:  9943
review_scores_checkin Nulls:  9962
review_scores_communication Nulls:  9949
review_scores_location Nulls:  9963
reviews_per_month Nulls:  9279

Every review score metric presents between 9000 and 10000 nulls, which represent roughly 28% of the size of the dataset. Hence, I will try a first iteration of the model by excluding these features with the option of possibly including them in a random forest model which can accept missing values.

## Instant booking

In [302]:
airbnb_nyc['instant_bookable'].isnull().sum()

0

In [303]:
airbnb_nyc['instant_bookable'].value_counts()

f    25263
t    10184
Name: instant_bookable, dtype: int64

In [304]:
# Substitute true with 1 and false with 0
airbnb_nyc['instant_bookable'].replace({'f': 0, 't': 1}, inplace=True)

In [305]:
airbnb_nyc['instant_bookable'].value_counts()

0    25263
1    10184
Name: instant_bookable, dtype: int64

## Listings Count

In [306]:
airbnb_nyc['calculated_host_listings_count'].isnull().sum()

0

In [307]:
airbnb_nyc['calculated_host_listings_count'].value_counts()

1      21496
2       4591
3       1979
4       1063
5        570
6        497
7        350
8        336
266      266
10       250
241      241
9        187
12       180
166      166
11       154
152      149
28       140
128      128
123      121
120      120
16       109
107      107
52       104
17       102
20       100
94        94
92        92
18        90
15        90
86        86
43        86
83        83
41        81
26        78
38        76
75        75
14        70
35        70
68        68
66        65
61        61
19        57
56        56
54        54
13        52
25        50
48        48
45        45
44        44
34        34
33        33
31        31
30        30
29        29
27        27
24        24
23        23
21        21
22        18
Name: calculated_host_listings_count, dtype: int64

## Prepare dataframe for modeling

### 1. Logistic Regression

A logistic regression model can't consist of columns with missing values. In line with these principle, I'll create a df that is appropriate for logistic regression modeling.

In [313]:
# Substitute host_location with a dummy variable indicating if the host is in the US or not (hyp: host in the US will know the market more and 
# be more engaged in marketing their listing)

def get_host_US(country):
    if country == 'United States' or country == 'US':
        host_in_US = 1
    else:
        host_in_US = 0
    return host_in_US

In [314]:
# Create new column
airbnb_nyc['host_in_US'] = airbnb_nyc['host_country'].apply(get_host_US)

In [316]:
# Rename cols to more intelligible names
airbnb_nyc = airbnb_nyc.rename(columns={'bath_type': 'bath_private', 'calculated_host_listings_count': 'host_listings'})

In [318]:
# Rename cols consistently
airbnb_nyc = airbnb_nyc.rename(columns={'bath_count': 'baths'})

In [319]:
airbnb_nyc.columns

Index(['id', 'listing_url', 'name', 'description', 'neighborhood_overview',
       'host_since', 'host_location', 'host_about', 'host_response_time',
       'host_response_rate', 'host_acceptance_rate', 'host_is_superhost',
       'host_verifications', 'host_has_profile_pic', 'host_identity_verified',
       'neighbourhood', 'borough', 'latitude', 'longitude', 'property_type',
       'room_type', 'accommodates', 'bathrooms_text', 'bedrooms', 'beds',
       'amenities', 'price', 'minimum_nights', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'number_of_reviews', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'instant_bookable',
       'host_listings', 'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month',
       'desc_len', 'name_len', 'neighborhood_len', 'host_about_len',
       'host_country', 'host_state', 'host_verif_count', 'capacity',
       'bath_private', 'baths', 'amenities_count', 'long_term_rental',
       'top_listing', 'host_in_US'],
      dtype='object')

In [370]:
# Pickle df to use it in modeling notebook
airbnb_nyc.to_pickle('airbnb_nyc.pickle')

In [320]:
listings = airbnb_nyc.drop(['listing_url','name','description','neighborhood_overview','host_location',
                'host_about','host_response_time','host_response_rate', 'host_acceptance_rate',
                'host_verifications','property_type','accommodates','bathrooms_text', 'bedrooms',
                'amenities','minimum_nights', 'has_availability','availability_30', 'availability_60',
                'availability_90','review_scores_rating','review_scores_accuracy', 'review_scores_cleanliness',
                'review_scores_checkin', 'review_scores_communication','review_scores_location', 'review_scores_value',
                'calculated_host_listings_count_entire_homes','calculated_host_listings_count_private_rooms',
                'calculated_host_listings_count_shared_rooms', 'reviews_per_month','host_country', 'host_state'], axis = 1)

In [322]:
listings.shape

(35447, 28)

In [323]:
listings.columns

Index(['id', 'host_since', 'host_is_superhost', 'host_has_profile_pic',
       'host_identity_verified', 'neighbourhood', 'borough', 'latitude',
       'longitude', 'room_type', 'beds', 'price', 'availability_365',
       'number_of_reviews', 'instant_bookable', 'host_listings', 'desc_len',
       'name_len', 'neighborhood_len', 'host_about_len', 'host_verif_count',
       'capacity', 'bath_private', 'baths', 'amenities_count',
       'long_term_rental', 'top_listing', 'host_in_US'],
      dtype='object')

In [325]:
# Check for nulls and correct data types for every variable
listings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35447 entries, 0 to 36904
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      35447 non-null  int64
 1   host_since              35447 non-null  object
 2   host_is_superhost       35447 non-null  int64
 3   host_has_profile_pic    35447 non-null  int64
 4   host_identity_verified  35447 non-null  int64
 5   neighbourhood           35447 non-null  object
 6   borough                 35447 non-null  object
 7   latitude                35447 non-null  float64
 8   longitude               35447 non-null  float64
 9   room_type               35447 non-null  object
 10  beds                    35447 non-null  float64
 11  price                   35447 non-null  object
 12  availability_365        35447 non-null  int64
 13  number_of_reviews       35447 non-null  int64
 14  instant_bookable        35447 non-null  int64
 15  host_listings           35447 non-null  int64
 16  desc_len                35447 non-null  float64
 17  name_len                35447 non-null  int64
 18  neighborhood_len        35447 non-null  float64
 19  host_about_len          35447 non-null  float64
 20  host_verif_count        35447 non-null  int64
 21  capacity                35447 non-null  category
 22  bath_private            35447 non-null  int64
 23  baths                   35447 non-null  object
 24  amenities_count         35447 non-null  int64
 25  long_term_rental        35447 non-null  int64
 26  top_listing             35447 non-null  int64
 27  host_in_US              35447 non-null  int64
dtypes: category(1), float64(6), int64(15), object(6)
memory usage: 7.6+ MB

In [329]:
# Convert price to float
listings['price'] = listings['price'].str.replace(',', '').str.replace('$', '').astype(float)

<ipython-input-329-2ab38d92ceb1>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  listings['price'] = listings['price'].str.replace(',', '').str.replace('$', '').astype(float)

In [330]:
# Convert name len to float
listings['name_len'] = pd.to_numeric(listings['name_len'])

In [331]:
# Convert baths to float
listings['baths'] = pd.to_numeric(listings['baths'])

In [332]:
# Convert host since to datetime
listings['host_since'] = listings['host_since'].astype('datetime64[ns]')

In [333]:
# Check changes were correctly executed
listings.info()# Check changes were correctly executed
listings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35447 entries, 0 to 36904
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      35447 non-null  int64
 1   host_since              35447 non-null  datetime64[ns]
 2   host_is_superhost       35447 non-null  int64
 3   host_has_profile_pic    35447 non-null  int64
 4   host_identity_verified  35447 non-null  int64
 5   neighbourhood           35447 non-null  object
 6   borough                 35447 non-null  object
 7   latitude                35447 non-null  float64
 8   longitude               35447 non-null  float64
 9   room_type               35447 non-null  object
 10  beds                    35447 non-null  float64
 11  price                   35447 non-null  float64
 12  availability_365        35447 non-null  int64
 13  number_of_reviews       35447 non-null  int64
 14  instant_bookable        35447 non-null  int64
 15  host_listings           35447 non-null  int64
 16  desc_len                35447 non-null  float64
 17  name_len                35447 non-null  int64
 18  neighborhood_len        35447 non-null  float64
 19  host_about_len          35447 non-null  float64
 20  host_verif_count        35447 non-null  int64
 21  capacity                35447 non-null  category
 22  bath_private            35447 non-null  int64
 23  baths                   35447 non-null  float64
 24  amenities_count         35447 non-null  int64
 25  long_term_rental        35447 non-null  int64
 26  top_listing             35447 non-null  int64
 27  host_in_US              35447 non-null  int64
dtypes: category(1), datetime64[ns](1), float64(8), int64(15), object(3)
memory usage: 7.6+ MB

In [355]:
# Change length metrics data type to integer
listings['desc_len'] = listings['desc_len'].astype(int)
listings['neighborhood_len'] = listings['neighborhood_len'].astype(int)
listings['host_about_len'] = listings['host_about_len'].astype(int)

In [356]:
# Check changes were correctly executed
listings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35447 entries, 0 to 36904
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      35447 non-null  int64
 1   host_since              35447 non-null  datetime64[ns]
 2   host_is_superhost       35447 non-null  int64
 3   host_has_profile_pic    35447 non-null  int64
 4   host_identity_verified  35447 non-null  int64
 5   neighbourhood           35447 non-null  object
 6   borough                 35447 non-null  object
 7   latitude                35447 non-null  float64
 8   longitude               35447 non-null  float64
 9   room_type               35447 non-null  object
 10  beds                    35447 non-null  float64
 11  price                   35447 non-null  float64
 12  availability_365        35447 non-null  int64
 13  number_of_reviews       35447 non-null  int64
 14  instant_bookable        35447 non-null  int64
 15  host_listings           35447 non-null  int64
 16  desc_len                35447 non-null  int64
 17  name_len                35447 non-null  int64
 18  neighborhood_len        35447 non-null  int64
 19  host_about_len          35447 non-null  int64
 20  host_verif_count        35447 non-null  int64
 21  capacity                35447 non-null  category
 22  bath_private            35447 non-null  int64
 23  baths                   35447 non-null  float64
 24  amenities_count         35447 non-null  int64
 25  long_term_rental        35447 non-null  int64
 26  top_listing             35447 non-null  int64
 27  host_in_US              35447 non-null  int64
dtypes: category(1), datetime64[ns](1), float64(5), int64(18), object(3)
memory usage: 8.6+ MB

In [367]:
# Store df in pickle object to use in a different notebook for modeling
listings.to_pickle('listings_logreg.pickle')

### 2. Random Forest

A random forest model will accept missing values. Hence, in the data frame below, I will include columns that feature missing values.

In [357]:
airbnb_nyc.columns

Index(['id', 'listing_url', 'name', 'description', 'neighborhood_overview',
       'host_since', 'host_location', 'host_about', 'host_response_time',
       'host_response_rate', 'host_acceptance_rate', 'host_is_superhost',
       'host_verifications', 'host_has_profile_pic', 'host_identity_verified',
       'neighbourhood', 'borough', 'latitude', 'longitude', 'property_type',
       'room_type', 'accommodates', 'bathrooms_text', 'bedrooms', 'beds',
       'amenities', 'price', 'minimum_nights', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'number_of_reviews', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'instant_bookable',
       'host_listings', 'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month',
       'desc_len', 'name_len', 'neighborhood_len', 'host_about_len',
       'host_country', 'host_state', 'host_verif_count', 'capacity',
       'bath_private', 'baths', 'amenities_count', 'long_term_rental',
       'top_listing', 'host_in_US'],
      dtype='object')

In [358]:
listings_nyc = airbnb_nyc.drop(['listing_url','name','description','neighborhood_overview','host_location',
                'host_about','host_verifications','property_type','accommodates','bathrooms_text', 'bedrooms',
                'amenities','minimum_nights', 'has_availability','availability_30', 'availability_60',
                'availability_90','calculated_host_listings_count_entire_homes','calculated_host_listings_count_private_rooms',
                'calculated_host_listings_count_shared_rooms','host_country', 'host_state'], axis = 1)

In [360]:
listings_nyc.shape

(35447, 39)

In [362]:
listings_nyc.columns

Index(['id', 'host_since', 'host_response_time', 'host_response_rate',
       'host_acceptance_rate', 'host_is_superhost', 'host_has_profile_pic',
       'host_identity_verified', 'neighbourhood', 'borough', 'latitude',
       'longitude', 'room_type', 'beds', 'price', 'availability_365',
       'number_of_reviews', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'instant_bookable', 'host_listings',
       'reviews_per_month', 'desc_len', 'name_len', 'neighborhood_len',
       'host_about_len', 'host_verif_count', 'capacity', 'bath_private',
       'baths', 'amenities_count', 'long_term_rental', 'top_listing',
       'host_in_US'],
      dtype='object')

In [363]:
# Check for nulls and correct data types for every variable
listings_nyc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35447 entries, 0 to 36904
Data columns (total 39 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           35447 non-null  int64
 1   host_since                   35447 non-null  object
 2   host_response_time           18564 non-null  object
 3   host_response_rate           18564 non-null  object
 4   host_acceptance_rate         20083 non-null  object
 5   host_is_superhost            35447 non-null  int64
 6   host_has_profile_pic         35447 non-null  int64
 7   host_identity_verified       35447 non-null  int64
 8   neighbourhood                35447 non-null  object
 9   borough                      35447 non-null  object
 10  latitude                     35447 non-null  float64
 11  longitude                    35447 non-null  float64
 12  room_type                    35447 non-null  object
 13  beds                         35447 non-null  float64
 14  price                        35447 non-null  object
 15  availability_365             35447 non-null  int64
 16  number_of_reviews            35447 non-null  int64
 17  review_scores_rating         25518 non-null  float64
 18  review_scores_accuracy       25494 non-null  float64
 19  review_scores_cleanliness    25504 non-null  float64
 20  review_scores_checkin        25485 non-null  float64
 21  review_scores_communication  25498 non-null  float64
 22  review_scores_location       25484 non-null  float64
 23  review_scores_value          25484 non-null  float64
 24  instant_bookable             35447 non-null  int64
 25  host_listings                35447 non-null  int64
 26  reviews_per_month            26168 non-null  float64
 27  desc_len                     35447 non-null  float64
 28  name_len                     35447 non-null  int64
 29  neighborhood_len             35447 non-null  float64
 30  host_about_len               35447 non-null  float64
 31  host_verif_count             35447 non-null  int64
 32  capacity                     35447 non-null  category
 33  bath_private                 35447 non-null  int64
 34  baths                        35447 non-null  object
 35  amenities_count              35447 non-null  int64
 36  long_term_rental             35447 non-null  int64
 37  top_listing                  35447 non-null  int64
 38  host_in_US                   35447 non-null  int64
dtypes: category(1), float64(14), int64(15), object(9)
memory usage: 11.6+ MB

In [364]:
# Convert data types
listings_nyc['price'] = listings_nyc['price'].str.replace(',', '').str.replace('$', '').astype(float)
listings_nyc['baths'] = pd.to_numeric(listings_nyc['baths'])
listings_nyc['host_since'] = listings_nyc['host_since'].astype('datetime64[ns]')
listings_nyc['desc_len'] = listings_nyc['desc_len'].astype(int)
listings_nyc['neighborhood_len'] = listings_nyc['neighborhood_len'].astype(int)
listings_nyc['host_about_len'] = listings_nyc['host_about_len'].astype(int)
listings_nyc['host_response_rate'] = listings_nyc['host_response_rate'].str.rstrip('%').astype('float') / 100.0
listings_nyc['host_acceptance_rate'] = listings_nyc['host_acceptance_rate'].str.rstrip('%').astype('float') / 100.0

<ipython-input-364-316009188d73>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  listings_nyc['price'] = listings_nyc['price'].str.replace(',', '').str.replace('$', '').astype(float)

In [365]:
# Check changes were correctly executed
listings_nyc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35447 entries, 0 to 36904
Data columns (total 39 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           35447 non-null  int64
 1   host_since                   35447 non-null  datetime64[ns]
 2   host_response_time           18564 non-null  object
 3   host_response_rate           18564 non-null  float64
 4   host_acceptance_rate         20083 non-null  float64
 5   host_is_superhost            35447 non-null  int64
 6   host_has_profile_pic         35447 non-null  int64
 7   host_identity_verified       35447 non-null  int64
 8   neighbourhood                35447 non-null  object
 9   borough                      35447 non-null  object
 10  latitude                     35447 non-null  float64
 11  longitude                    35447 non-null  float64
 12  room_type                    35447 non-null  object
 13  beds                         35447 non-null  float64
 14  price                        35447 non-null  float64
 15  availability_365             35447 non-null  int64
 16  number_of_reviews            35447 non-null  int64
 17  review_scores_rating         25518 non-null  float64
 18  review_scores_accuracy       25494 non-null  float64
 19  review_scores_cleanliness    25504 non-null  float64
 20  review_scores_checkin        25485 non-null  float64
 21  review_scores_communication  25498 non-null  float64
 22  review_scores_location       25484 non-null  float64
 23  review_scores_value          25484 non-null  float64
 24  instant_bookable             35447 non-null  int64
 25  host_listings                35447 non-null  int64
 26  reviews_per_month            26168 non-null  float64
 27  desc_len                     35447 non-null  int64
 28  name_len                     35447 non-null  int64
 29  neighborhood_len             35447 non-null  int64
 30  host_about_len               35447 non-null  int64
 31  host_verif_count             35447 non-null  int64
 32  capacity                     35447 non-null  category
 33  bath_private                 35447 non-null  int64
 34  baths                        35447 non-null  float64
 35  amenities_count              35447 non-null  int64
 36  long_term_rental             35447 non-null  int64
 37  top_listing                  35447 non-null  int64
 38  host_in_US                   35447 non-null  int64
dtypes: category(1), datetime64[ns](1), float64(15), int64(18), object(4)
memory usage: 11.6+ MB

In [368]:
# Store df in pickle object to use in a different notebook for modeling
listings_nyc.to_pickle('listings_randomforest.pickle')